useDynLib(CHESS, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
import(Rcpp,methods,data.table,gganimate,ggplot2,cowplot,phangorn,ggtree,gridExtra,treeman,dplyr)
S3method(plot, "CHESS_S3")
S3method(print, "CHESS_S3")
S3method(animate, "CHESS_S3")
S3method(print, "chess_result_set")
S3method(head, "chess_result_set")
S3method(tail, "chess_result_set")
